Sphinx==4.1.2
sphinxcontrib_trio==1.1.2
sphinx_autodoc_napoleon_typehints==2.1.6
sphinx_rtd_theme==0.5.2
Red-DiscordBot
python-dateutil==2.8.2
apychal==1.11.0
aiofiles==0.8.0
git+https://github.com/retke/laggron-utils
